.zenkipay_logo {
    height: 50px;
    margin-top: 10px;
    float: left !important;
    object-fit: contain;
}

.col-md-12 {
    clear: both;
}


.woocommerce-thankyou-order-received {
    border: 2px dashed #E59953 !important;
    color: #E59953 !important;
}